<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container-xl px-4">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <!-- Basic forgot password form-->
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header justify-content-center">
                <h3 class="fw-light my-4">Password Recovery</h3>
              </div>
              <div class="card-body">
                <div class="small mb-3 text-muted" *ngIf="success == false">
                  Enter your email address and we will send you a link to reset
                  your password.
                </div>
                <!-- Forgot password form-->
                <form
                  [formGroup]="fpForm"
                  (ngSubmit)="emailSubmit()"
                  *ngIf="success == false"
                >
                  <div class="d-block invalid-feedback text-center">
                    {{ errors.error }}
                  </div>
                  <!-- Form Group (email address)-->
                  <div class="mb-3">
                    <label class="small mb-1" for="inputEmailAddress"
                      >Email</label
                    >
                    <input
                      class="form-control"
                      id="inputEmailAddress"
                      type="email"
                      aria-describedby="emailHelp"
                      placeholder="Enter email address"
                      formControlName="email"
                      required
                    />
                  </div>
                  <!-- Form Group (submit options)-->
                  <div
                    class="
                      d-flex
                      align-items-center
                      justify-content-between
                      mt-4
                      mb-0
                    "
                  >
                    <a class="small" [routerLink]="['/user/login']"
                      >Return to login</a
                    >

                    <input
                      type="submit"
                      class="btn btn-primary"
                      value="Reset Password"
                    />
                  </div>
                </form>
                <div *ngIf="success == true">
                  Please check your email for password reset link. Click here to
                  <a [routerLink]="['/user/login']">Login</a>
                </div>
              </div>
              <div class="card-footer text-center" *ngIf="success == false">
                <div class="small">
                  <a [routerLink]="['/user/register']"
                    >Need an account? Sign up!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
