<!-- LEFT SIDE BAR -->
<div id="layoutSidenav_nav">
  <nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
      <div class="nav accordion" id="accordionSidenav">
        <!-- Sidenav Menu Heading (Account)-->
        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
        <div class="sidenav-menu-heading d-sm-none">Account</div>
        <!-- Sidenav Link (Alerts)-->
        <!-- * * Note: * * Visible only on and above the sm breakpoint-->
        <a class="nav-link d-sm-none" href="#!">
          <div class="nav-link-icon"><i data-feather="bell"></i></div>
          Alerts
          <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
        </a>

        <!-- Sidenav Menu Heading (Core)-->
        <div class="sidenav-menu-heading"></div>
        <!-- Sidenav Accordion (Dashboard)-->
        <a class="nav-link" [routerLink]="['./patient-dashboard']">
          <div class="nav-link-icon"><i data-feather="activity"></i></div>
          Dashboard
        </a>

        <a class="nav-link" [routerLink]="['./visit-history']">
          <div class="nav-link-icon"><i data-feather="activity"></i></div>
          Visit History
        </a>

        <!-- <a class="nav-link" href="./visit-history.html">
            <div class="nav-link-icon"><i data-feather="list"></i></div>
            Visit History
          </a> -->
        <a class="nav-link" [routerLink]="['./patient-profile']">
          <div class="nav-link-icon"><i data-feather="list"></i></div>
          Patient Profile
        </a>

        <a class="nav-link" [routerLink]="['./patient-schedule-appointment']">
          <div class="nav-link-icon"><i data-feather="list"></i></div>
          Schedule Appointment
        </a>

        <!-- <a class="nav-link" href="patient/patient-vitals">
            <div class="nav-link-icon"><i data-feather="list"></i></div>
            Patient Vitals
          </a> -->
        <a class="nav-link" [routerLink]="['./patient-billing']">
          <div class="nav-link-icon"><i data-feather="list"></i></div>
          Patient Billing
        </a>
      </div>
    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
      <div class="sidenav-footer-content">
        <div class="sidenav-footer-subtitle">Logged in as:</div>
        <div class="sidenav-footer-title">
          {{ userDetail.fname }} {{ userDetail.lname }}
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Left Sidebar Ends here -->
